#bgCircleOne {
	cx: 50%;
	cy: 48%;
	r: 50%;
}

#bgCircleTwo {
	cx: 50%;
	cy: 44%;
	r: 50%;
}

#bgCircleThree {
	cx: 50%;
	cy: 40%;
	r: 50%;
}

@media (min-width: 64rem) {
	#bgCircleOne {
		r: 48%;
	}

	#bgCircleTwo {
		r: 48%;
	}

	#bgCircleThree {
		r: 48%;
	}
}

@media (min-width: 80rem) {
	#bgCircleOne {
		r: 46%;
	}

	#bgCircleTwo {
		r: 46%;
	}

	#bgCircleThree {
		r: 46%;
	}
}

/* ***************************** Animations *****************************  */

#bgCircleOne {
	animation: slideInFromBottom 1s ease forwards;
	animation-delay: 0s;
	transform-origin: bottom;
	transform: translateY(100%);
}

#bgCircleTwo {
	animation: slideInFromBottom 1s ease forwards;
	animation-delay: 0.3s;
	transform-origin: bottom;
	transform: translateY(100%);
}

#bgCircleThree {
	animation: slideInFromBottom 1s ease forwards;
	animation-delay: 0.6s;
	transform-origin: bottom;
	transform: translateY(100%);
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
