@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;700;900&family=Mada:wght@300;400;500;600;700;900&display=swap");
@import url("bg-graphics.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display font-light leading-none tracking-tighter;
	}

	h1 {
		@apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
	}

	h2 {
		@apply text-3xl md:text-4xl lg:text-6xl xl:text-6xl;
	}

	h3 {
		@apply text-2xl md:text-3xl lg:text-6xl xl:text-5xl leading-normal;
	}

	h4 {
		@apply text-2xl md:text-3xl lg:text-6xl xl:text-5xl leading-normal;
	}

	h5 {
		@apply text-xl md:text-2xl lg:text-6xl xl:text-4xl leading-normal;
	}

	h6 {
		@apply text-xl md:text-2xl lg:text-6xl xl:text-4xl leading-normal;
	}

	p {
		@apply leading-relaxed;
	}
}

@layer components {
	input,
	textarea,
	.input {
		@apply font-display pb-4 bg-transparent border-b border-primary outline-none;
	}

	.button {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 px-12 border border-transparent transition-all hover:border hover:border-primary hover:bg-transparent hover:text-primary;
	}

	/* ********************************** Button filled ********************************** */
	.button-filled {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 px-12 bg-primary text-white border border-transparent transition-all hover:border hover:border-primary hover:bg-transparent hover:text-primary;
	}

	.button-filled--white {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 px-12 bg-white text-primary border border-transparent transition-all hover:border hover:border-white hover:bg-transparent hover:text-white;
	}

	/* ********************************** Button outlined ********************************** */
	.button-outlined {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 px-12 border border-primary transition-all hover:bg-primary hover:text-white;
	}

	.button-outlined--white {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 px-12 border border-white transition-all hover:bg-white hover:text-primary;
	}

	/* ********************************** Button underlined ********************************** */
	.button-underlined {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 border border-transparent border-b-primary transition-all;
	}

	.button-underlined--white {
		@apply font-display text-xl lg:text-2xl flex items-center justify-center gap-4 py-4 border border-white transition-all;
	}
}

@layer utilities {
	.scroll-fade {
		@apply opacity-0 !static;
	}

	.menu-item {
		@apply relative pb-2;
	}

	.menu-item::after {
		@apply content-[""] absolute bottom-0 left-0 w-0 h-0.5 bg-primary transition-all;
	}

	.menu-item:hover::after {
		@apply w-full left-0;
	}
}

/* create fade in class with the fadein animation */
.fadeIn {
	animation-name: fadeIn;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

/* create fade out class with the fadeout animation */
.fadeOut {
	animation-name: fadeOut;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

/* create a fade in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* create a fade out animation */

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
